
  <div class="row">
    <div class="col-sm-6">
      <%= pie_chart aggregates.sort_by{|aggregate| aggregate.size}.reverse.map{|aggregate| ["#{aggregate.name} (#{aggregate.size.to_human_readable_s})", aggregate.size.to_gb]}.to_h, donut: true, colors: ChartHandler.colors(aggregates.count), legend: (aggregates.count <= 5) %>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <h3>Aggregate Size Information</h3>
        </div>
      </div>

      <%- (aggregates.sort_by{|aggregate| aggregate.size}).reverse.each_with_index do |aggregate, index|-%>
        <div class="row<%- unless index % 2 == 0 -%> zebra_odd<%-end-%>">
          <div class="col-xs-8 data_label">
            <%= link_to aggregate.name, aggregate_path(aggregate.id) %><%- if include_node_label -%> (<%= link_to aggregate.node_host, node_path(aggregate.node_host) %>)<%- end -%>
          </div>
          <div class="col-xs-2 data_value">
            <%= aggregate.size.to_human_readable_s %>
          </div>
        </div>
      <%- end -%>
    </div>
  </div>
