
  <%- if volumes.count > 0 -%>
    <div class="row">
      <div class="col-sm-6">
        <%= pie_chart volumes.sort_by{|volume| volume.allocated}.reverse.map{|volume| ["#{volume.name} (#{volume.allocated.to_human_readable_s})", volume.allocated.to_gb]}.to_h , donut: true, legend: (volumes.count <= 5), colors: ChartHandler.colors(volumes.count) %>
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h3>Space Allocated to Volumes</h3>
          </div>
        </div>

        <%- (volumes.sort_by{|volume| volume.allocated}).reverse.each_with_index do |volume, index|-%>
          <div class="row<%- unless index % 2 == 0 -%> zebra_odd<%-end-%>">
            <div class="col-xs-8 data_label">
              <span class="glyphicon glyphicon-folder-open"></span>
              <%= link_to volume.name, volume_path(volume.id) %> (<%= link_to volume.containing_aggregate_name, aggregate_path(volume.containing_aggregate_uuid) %>)
            </div>
            <div class="col-xs-2 data_value">
              <%= volume.allocated.to_human_readable_s %>
            </div>
          </div>
        <%- end -%>
      </div>

    </div>
  <%- end -%>
