<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Locations</h1>
    </div>
  </div>
  <div class="row">
    <%- @locations.each do |name, config| -%>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-xs-12">
            <h2><%= link_to name, location_path(name) %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= pie_chart @location_charts[name], donut: true %>
          </div>
        </div>
      </div>
    <%- end -%>
  </div>
</div>
